.movies {
	margin: 10.7rem 0;
	&__content {
		// display: flex;
		// flex-wrap: wrap;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 4.3rem 4rem;
		width: 100%;

		// @media (max-width: 1500px) {
		// 	grid-template-columns: repeat(3, 1fr);
		// }
	}
}
