.movies {
	margin: 10.7rem 0;
	&__content {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 4.3rem 4rem;
		width: 100%;

		@media (max-width: 1600px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: 1000px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 300px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
