@import "../../scss/_variables.scss";

.menu {
	display: flex;
	column-gap: 5.3rem;
	font-weight: 600;

	position: relative;
	z-index: 2;

	&__list {
		&-link {
			display: inline-block;
			font-size: 2rem;
			color: $main-color;
			text-decoration: none;
			line-height: 3px;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
				text-decoration: underline;
				transition: all 0.4s;
			}

			&_active {
				color: $main-color;
				text-decoration: underline;
				cursor: default;

				&:hover {
					transform: none;
				}
			}
		}
	}
}
