@import "../../scss/_variables.scss";

.menu {
	display: flex;
	column-gap: 5.3rem;
	font-weight: 600;

	position: relative;
	z-index: 2;

	&__list {
		&-link {
			font-size: 2rem;
			color: $main-color;
			text-decoration: none;
			line-height: 3px;
			&_active {
				color: $main-color;
				text-decoration: underline;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
