@import "../../scss/_variables.scss";

.information-films {
	position: relative;
	width: 73rem;
	color: $main-color;
	z-index: 2;

	&__wrapper {
		border-left: $side-navigation-color 1px solid;
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;

		overflow-y: auto;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8.2rem 2.9rem 2.6rem;
	}

	&__title {
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 0.2rem;
		margin-bottom: 2.3rem;
		// margin-right: 5.2rem;
	}

	&__network {
		display: flex;
		column-gap: 2.6rem;
	}

	&__icon {
		width: 29px;
		cursor: pointer;
		transition: all 0.5s;
	}

	&__icon:hover {
		transform: scale(1.2);
		transition: all 0.3s;
	}

	&__content {
		border-top: $side-navigation-color 1px solid;
		padding-top: 7.2rem;
		display: flex;
		flex-direction: column;
		row-gap: 5.7rem;
	}

	&__container {
		padding: 0 2.9rem;
		color: $side-navigation-color;
	}

	&__subtitle {
		font-size: 2.4rem;
		font-weight: 900;
		line-height: normal;
		letter-spacing: 0.216rem;

		margin-bottom: 1.1rem;
	}

	&__text {
		font-size: 2rem;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.18rem;
		text-transform: capitalize;
	}

	@media (max-width: 900px) {
		width: 0px;

		&__wrapper {
			right: -350px;
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.816);
			transition: right 0.7s, visibility 0.5s;
		}

		&-open {
			z-index: 3;
			position: absolute;
			width: 73rem;
		}

		&-open &__wrapper {
			right: 0px;
			overflow-y: auto;
			visibility: visible;
			transition: right 0.6s, visibility 0.5s;
		}
	}
}
