.burger {
	display: none;
	width: 2.9rem;
	position: relative;
	z-index: 30;
	cursor: pointer;

	@media (max-width: 900px) {
		display: block;
	}

	&__middle {
		position: absolute;
		width: 2.9rem;
		height: 0.3rem;
		background-color: #cfcfcf;
		transition: background-color 0.5s;
	}

	&__top {
		content: "";
		position: absolute;
		background-color: #cfcfcf;
		top: -1.2rem;
		width: 2.9rem;
		height: 0.3rem;
	}

	&__bot {
		content: "";
		position: absolute;
		background-color: #cfcfcf;
		top: 1.2rem;
		width: 2.9rem;
		height: 0.3rem;
	}

	&-open &__btn {
		position: fixed;
	}

	&-open &__middle {
		background-color: transparent;
		transition: background-color 0.5s, opacity 0.2s, transform 0.5s;
	}

	&-open &__top {
		top: 0;
		transform: rotate(45deg);
	}
	&-open &__bot {
		top: 0;
		transform: rotate(-45deg);
	}
}
