.about {
	min-height: 100vh;

	&__img {
		background-position: center;
		background-attachment: fixed;
		min-height: 100vh;
		transition: background-image 0.5s ease-in-out;
		display: flex;
		justify-content: space-between;

		&:after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.6);
			z-index: 1;
		}
	}

	&__content {
		margin-top: 11.2rem;

		@media (max-width: 1000px) {
			margin-top: 8.7rem;
		}

		@media (max-width: 700px) {
			margin-top: 4.7rem;
		}

		@media (max-width: 500px) {
			margin-top: 2.2rem;
		}

		@media (max-width: 300px) {
			margin-top: 4.2rem;
		}
	}

	&__active {
		transition: background-image 0.5s ease-in-out;
	}

	&__header {
		padding: 8.9rem 0 11.2rem;
	}

	&-open {
		overflow: hidden;
		height: 100%;
	}
}
