.about {
	height: 100vh;
	&__img {
		height: 100vh;
		transition: background-image 0.5s ease-in-out;
		display: flex;
		justify-content: space-between;
		// filter: brightness(40%);
		// mix-blend-mode: multiply;
	}
	&__active {
		transition: background-image 0.5s ease-in-out;
	}
	&__body {
		margin: 0 8.6rem 0 9.5rem;
		width: 100%;
	}

	&__header {
		padding: 8.9rem 0 11.2rem;
	}
}
// .fade-in-up {
// 	animation: fadeInUp 1s ease-in-out forwards;
// 	opacity: 0;
// 	transform: translateY(100%);
// }

// @keyframes fadeInUp {
// 	to {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }
