.videos {
	background-image: url("../../img/background-video.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&__content {
		height: 100%;
	}
}
.content-video {
	display: flex;
	justify-content: space-between;

	height: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		padding-top: 8.2rem;
	}
	&__body {
		margin-right: 8.6rem;
		width: 100%;
	}
}
