.videos {
	display: flex;
	justify-content: space-between;

	background-image: url("../../img/background-video.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 8.2rem;
	}

	&__body {
		margin: 0 8.6rem 0 9.5rem;
		width: 100%;
	}
}
