@import "../../scss/_variables.scss";

.content {
	position: relative;
	z-index: 2;
	transition: background-image 0.5s ease-in-out;

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(70vh - 80px);
	}

	&__title {
		color: #fff;
		font-size: 6.4rem;
		font-weight: 800;
		line-height: normal;
		text-transform: capitalize;
	}

	&__description {
		color: $text;
		font-size: 2.4rem;
		font-style: normal;
		font-weight: 600;
		line-height: 169.4%;
		margin: 5.4rem 0 3rem;
	}

	&__number {
		color: #9f9f9f;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 2.16px;
	}

	&__wrapper {
	}
	&__box-button {
	}
	&__button {
		background-color: rgb(0, 0, 0, 0);
		border: none;
		padding: 0 3.1rem 0 0;
		margin-bottom: 2rem;
		cursor: pointer;
	}

	&__arrow {
		fill: #6c6c6c;

		&_none {
			display: none;
		}

		&:hover {
			fill: $side-navigation-color;
		}

		&_turn {
			transform: rotate(180deg);
		}
	}

	@media (max-width: 1000px) {
		&__title {
			font-size: 4.4rem;
		}

		&__description {
			font-size: 1.5rem;
			letter-spacing: -0.48px;

			margin: 3rem 0 3rem;
		}
	}

	@media (max-width: 480px) {
		&__title {
			font-size: 2.5rem;
		}

		&__description {
			margin: 2.6rem 0 3rem;
		}

		&__main {
			min-height: calc(70vh - 239px);
		}
	}
}
