.movies-random {
	margin-top: 4.5rem;

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 4.3rem 4rem;

		@media (max-width: 1600px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 300px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	@media (max-width: 500px) {
		margin-top: 2.2rem;
	}
}
