.decorative-scroll {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-left: 7.7rem;

	position: relative;
	z-index: 2;

	&__line1 {
		width: 1px;
		height: 80px;
		background: #cfcfcf;
	}

	&__lines {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 65px;
		height: 4px;
		background: #cfcfcf;

		margin: 0px 0 10px;
	}

	&__lines::before {
		content: "";
		position: absolute;
		top: 18.5px;
		width: 65px;
		height: 4px;
		background: #cfcfcf;
	}

	&__line2 {
		width: 1px;
		height: 750px;
		background: #cfcfcf;

		// margin-top: 22px;
	}

	&__squares {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		background: #cfcfcf;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

		// margin-top: 19px;
		margin-bottom: 85px;
	}
	&__squares::after,
	&__squares::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		top: 90px;
		border-radius: 2px;
		background: #cfcfcf;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	&__squares::before {
		content: "";
		top: 57px;
	}

	&__squares span {
		position: absolute;
		width: 16px;
		height: 16px;
		top: 28px;
		border-radius: 2px;
		background: #cfcfcf;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	&__line3 {
		width: 1px;
		height: 153px;
		background: #cfcfcf;
	}
}
