@import "../../scss/_variables.scss";

.search {
	display: flex;
	align-items: center;

	&__input {
		background-color: rgb(0, 0, 0, 0);
		border: none;
		border-bottom: #6a6a6a solid 1px;
		width: 194px;
		color: $main-color;
		outline: none;
	}

	&__icon {
		background-image: url("../../img/icon/search.png");
		background-repeat: no-repeat;
		background-size: 2.4rem;
		height: 3rem;
		width: 3rem;
		cursor: pointer;
	}
}
