@import "../../scss/_variables.scss";

.search {
	display: flex;
	align-items: center;

	&__icon {
		stroke: #6a6a6a;
		height: 3rem;
		width: 3rem;
		cursor: pointer;
	}

	&__input {
		font-size: 1.4rem;
		background-color: rgb(0, 0, 0, 0);
		border: none;
		border-bottom: #6a6a6a solid 1px;
		width: 194px;
		color: $main-color;
		outline: none;

		&:focus {
			border-bottom: #fff solid 1px;
		}

		&:focus ~ .search__icon {
			stroke: #fff;
		}
	}
}
