@import "../../scss/_variables.scss";

.side-navigation {
	position: relative;
	width: 34.4rem;

	color: $main-color;

	&__wrapper {
		border-left: $side-navigation-color 1px solid;
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8.2rem 2.9rem 2.6rem;
	}

	&__text {
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 0.2rem;
		margin-bottom: 2.3rem;
	}

	&__network {
		display: flex;
		column-gap: 2.6rem;
	}

	&__icon {
		width: 29px;
		cursor: pointer;
		transition: all 0.5s;
	}

	&__icon:hover {
		transform: scale(1.2);
		transition: all 0.3s;
	}

	&__title {
		color: $title-color;
		font-size: 2.4rem;
		font-weight: 900;
		padding: 2.8rem 0 2.9rem 2.8rem;
		border-top: $side-navigation-color 1px solid;
		border-bottom: $side-navigation-color 1px solid;
	}

	@media (max-width: 750px) {
		width: 0px;
		&__wrapper {
			right: -350px;
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.816);
			transition: right 0.7s, visibility 0.5s;
		}
		&-open {
			z-index: 3;
			position: absolute;
			width: 34.4rem;
		}

		&-open &__wrapper {
			right: 0px;
			overflow-y: auto;
			visibility: visible;
			transition: right 0.6s, visibility 0.5s;
		}
	}
}
