@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&display=swap");
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	height: 100%;
}

#root {
	height: 100%;
}

html {
	font-size: calc(100vw / 1440 * 10);

	@media (max-width: 1166px) {
		font-size: calc(100vw / 1166 * 10);
	}

	@media (max-width: 890px) {
		font-size: calc(100vw / 890 * 10);
	}

	@media (max-width: 768px) {
		font-size: calc(100vw / 768 * 10);
	}

	@media (max-width: 600px) {
		font-size: calc(100vw / 600 * 10);
	}

	@media (max-width: 479px) {
		font-size: calc(100vw / 400 * 10);
	}

	@media (max-width: 376px) {
		font-size: calc(100vw / 375 * 10);
	}
}
